@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
}

.container {
  max-width: 65.625rem;
  padding: 79px 0px;
  margin: 0px auto;
}

.menu_container {
  padding: 1.9rem 3.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.313rem;
}

.main_menu ul {
  list-style: none;
  display: flex;
  gap: 2.625rem;
}
.main_menu a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.sign_up {
  padding: 1.375rem 1.75rem;
  background-color: #A259FF;
  border-radius: 15px;
}

.discover {
  display: flex;
  justify-content: space-between;
}

.content_header h2 {
  font-size: 67px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
}
.content_header p {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
}

.users_btn {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  background-color: #A259FF;
  gap: 5px;
  padding: 18px 47px;
  margin-top: 34px;
  border-radius: 20px;
  outline: none;
}

.content_users {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.content_users h4 {
  font-family: "Space Mono", monospace;
  font-family: 27px;
  color: #FFFFFF;
}
.content_users p {
  font-family: "Space Mono", monospace;
  font-family: 23px;
  color: #FFFFFF;
}

.walking {
  padding: 25px 22px;
  background-color: #3B3B3B;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.walking h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.walking_img {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.walking_img span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.discover_items h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}

.discover_content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.discover_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}
.discover_content button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #A259FF;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.discover_images {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card_area_content {
  padding: 30px;
  background-color: #3B3B3B;
  height: 173px;
  max-width: 330px;
  margin-top: -2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card_area_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}

.card_area_content_av {
  display: flex;
  gap: 10px;
}
.card_area_content_av span {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 16px;
}

.card_area_content_price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card_area_content_price span {
  color: #7B7B7B;
  font-family: "Space Mono";
  font-size: 16px;
}

.card_area_content_etharium {
  display: flex;
  justify-content: space-between;
}
.card_area_content_etharium span {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.tranding_images {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.tranding_content h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  color: #FFFFFF;
}
.tranding_content p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 23px;
}

.nft_img {
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nft_load_more {
  padding: 35px 18px;
  background-color: #A259FF;
  border-radius: 20px;
}
.nft_load_more a {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.tranding_img span {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.nft_icon {
  margin-top: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nft_icon span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.highlight {
  /* Set a specific height */
  /* Background image */
  background-image: url("../images/high.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* Other background properties */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.find h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.find_card {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.find_section {
  background-color: #3B3B3B;
  max-width: 330px;
  max-height: 439px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 22px;
}
.find_section h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.find_section p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: #3B3B3B;
  max-width: 100%;
  height: 430px;
}

.subscribe_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}
.subscribe_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.subscribe_input {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.subscribe_input input {
  padding: 20px;
  border-radius: 20px;
  color: #2B2B2B;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  outline: none;
}
.subscribe_input button {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-radius: 20px;
  background-color: #A259FF;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  outline: none;
  border-style: none;
  margin-left: -30px;
}

.creators_content h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  color: #FFFFFF;
}

.creators_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creators_button p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}
.creators_button button {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border: 2px solid #A259FF;
  background-color: transparent;
  border-radius: 20px;
  gap: 5px;
}
.creators_button button span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.creators_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.creators_image {
  background-color: #3B3B3B;
  height: 238px;
  width: 240px;
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 27px;
}

.creator_img {
  display: flex;
  gap: 18px;
}
.creator_img span {
  width: 30px;
  height: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #2B2B2B;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #858584;
}

.creator_content {
  text-align: center;
  margin-top: 27px;
}
.creator_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.creator_content_details {
  display: flex;
  gap: 10px;
}
.creator_content_details span {
  color: #858584;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.creator_content_details p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.category_area h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}

.category_images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category_image {
  margin-bottom: 29px;
}

.category_card_content {
  height: 76px;
  width: 240px;
  background-color: #3B3B3B;
  margin-top: -4px;
  padding: 24px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.category_card_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.profile_bg {
  /* Set a specific height */
  /* Background image */
  background-image: url("../images/profile.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* Other background properties */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.orbitary {
  display: flex;
}

.orbit_header h2 {
  font-family: Work Sans;
  font-size: 51px;
  color: #FFFFFF;
}
.orbit_header P {
  font-family: Work Sans;
  font-size: 22px;
  color: #858584;
}

.orbit_by P {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: bold;
  color: #858584;
}

.by_icon {
  display: flex;
  gap: 6px;
  align-items: center;
}
.by_icon p {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
}

.orbit_det {
  width: 60%;
}
.orbit_det p {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: Regular;
  color: #FFFFFF;
}
.orbit_det h3 {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: bold;
  color: #858584;
}

.orbit_detail h2 {
  font-family: Space Mono;
  font-size: 22px;
  font-weight: bold;
  color: #858584;
}

.orbit_icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.orbit_icon p {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: Regular;
  color: #FFFFFF;
}

.tags_area h2 {
  font-family: Work Sans;
  font-size: 22px;
  color: #858584;
}

.tags_button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.tags_button button {
  padding: 12px 21px;
  background-color: #3B3B3B;
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
  border-radius: 20px;
  outline: none;
  border-style: none;
}

.orbit_areas {
  background-color: #3B3B3B;
  padding: 20px;
  border-radius: 20px;
}
.orbit_areas h3 {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: Regular;
  color: #FFFFFF;
}
.orbit_areas P {
  font-family: Space Mono;
  font-size: 38px;
  font-weight: bold;
  color: #FFFFFF;
}

.clock_det {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.clock_det span {
  font-family: Space Mono;
  font-size: 12px;
  font-weight: Regular;
  color: #FFFFFF;
}

.auctions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auctions button {
  padding: 22px 80px;
  background-color: blueviolet;
  color: #FFFFFF;
  outline: none;
  border-style: none;
  font-family: Work Sans;
  font-size: 16px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 550px;
  }
  .tags_button {
    flex-direction: column;
  }
  .tags_button button {
    padding: 12px 25px;
  }
}
.login_area {
  display: flex;
  gap: 80px;
  align-items: center;
}

.input_field {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding-left: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.input_field input[type=text] {
  width: 330px;
  padding: 15px;
  border-style: none;
  outline: none;
  border-radius: 20px;
  font-family: Work Sans;
  font-size: 16px;
}

.input_field_submit {
  background-color: #A259FF;
  text-align: center;
  border-radius: 20px;
}

.input_field_submit button {
  background-color: transparent;
  border-style: none;
  outline: none;
  padding: 15px;
  font-family: Work Sans;
  font-size: 16px;
  color: #FFFFFF;
}

.login_field h2 {
  font-family: Work Sans;
  font-size: 51px;
  color: #FFFFFF;
}
.login_field p {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
}

.whole_form {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .login_field h2 {
    font-size: 35px;
  }
  .login_field p {
    font-size: 10px;
  }
  .login_area {
    gap: 20px;
  }
  .login_image img {
    width: 397px;
    height: 615px;
  }
  .input_field {
    background-color: #FFFFFF;
    padding-left: 8px;
  }
  .input_field input[type=text] {
    width: 200px;
    padding: 8px;
    font-size: 10px;
  }
}
.anima_tab {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.anima_tab a {
  font-family: Work Sans;
  font-size: 22px;
  color: #858584;
}
.anima_tab a span {
  font-family: Space Mono;
  font-size: 16px;
  padding: 5px;
  background-color: #3B3B3B;
  color: #FFFFFF;
  border-radius: 20px;
}
.anima_tab a span:hover {
  background-color: #858584;
}
.anima_tab a:hover {
  color: #FFFFFF;
}

.anima_area {
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 30px;
}

.anima_area:hover {
  border-bottom: 3px solid #858584;
}

.anima_bg {
  background-image: url(../images/animabg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}
.anima_bg img {
  position: absolute;
  left: 40px;
  top: 400px;
}

.animakid {
  display: flex;
  justify-content: space-between;
}

.anima_folowers h2 {
  font-family: Work Sans;
  font-size: 51px;
  color: #FFFFFF;
}

.total_followers {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}
.total_followers h3 {
  font-family: Work Sans;
  font-size: 28px;
  color: #FFFFFF;
  font-family: Bold;
}
.total_followers p {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
  font-family: Regular;
}

.total_bio {
  margin-top: 20px;
}
.total_bio h3 {
  font-family: Space Mono;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: Bold;
}
.total_bio p {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
  font-family: Regular;
}

.total_bio_icons {
  margin-top: 20px;
}
.total_bio_icons h3 {
  font-family: Space Mono;
  font-size: 22px;
  color: #FFFFFF;
  font-family: Bold;
}

.total_bio_icons_social {
  display: flex;
  gap: 10px;
}

.anima_folowers_new {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.anima_id {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 18px;
  background-color: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: SemiBold;
  border-radius: 20px;
}

.anima_id_image {
  width: 11px;
  height: 11px;
}

.anima_foll {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 15px;
  background-color: transparent;
  font-family: Work Sans;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: SemiBold;
  border-radius: 20px;
  border: 3px solid #A259FF;
}

.footer_content {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  border-bottom: 3px solid #A259FF;
}

.mar {
  display: flex;
  gap: 5px;
  align-items: center;
}
.mar h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}

.parea {
  margin-top: 15px;
}
.parea p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.icons_area {
  margin-top: 20px;
}
.icons_area p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.main_icons {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.expo h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}
.expo p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}

.footer_subs h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}
.footer_subs p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}

.footer_copyright p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}

.av {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kid_bg {
  background-color: #3B3B3B;
  margin-top: -77px;
}

.kid_container {
  max-width: 65.625rem;
  margin: 0px auto;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.colar {
  margin-top: -4px;
  width: 330px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 13px;
  background-color: #d3b3b3;
}

.kid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
}

.Browse h1 {
  font-family: Work Sans;
  font-size: 51px;
  color: #FFFFFF;
}
.Browse p {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
}

.search_main {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  margin-top: 20px;
}
.search_main input {
  padding: 20px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border-style: none;
}
.search_main img {
  padding: 20px;
}

.kid_tab {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.kid_tab a {
  font-family: Work Sans;
  font-size: 22px;
  color: #858584;
}
.kid_tab a span {
  font-family: Space Mono;
  font-size: 16px;
  padding: 5px;
  background-color: #3B3B3B;
  color: #FFFFFF;
  border-radius: 20px;
}
.kid_tab a span:hover {
  background-color: #858584;
}
.kid_tab a:hover {
  color: #FFFFFF;
}

.tab_area {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.tab_area:hover {
  border-bottom: 3px solid #858584;
}

.market_tab {
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.market_tab a {
  font-family: Work Sans;
  font-size: 22px;
  color: #858584;
}
.market_tab a span {
  font-family: Space Mono;
  font-size: 16px;
  padding: 5px;
  background-color: #3B3B3B;
  color: #FFFFFF;
  border-radius: 20px;
}
.market_tab a span:hover {
  background-color: #858584;
}
.market_tab a:hover {
  color: #FFFFFF;
}

.market_area {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.market_area:hover {
  border-bottom: 3px solid #858584;
}

.market_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #858584;
  border-radius: 20px;
}

.header_left {
  display: flex;
  gap: 25px;
}
.header_left h3 {
  font-family: Space Mono;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: Regular;
}

.header_right {
  display: flex;
  gap: 100px;
  margin-right: 100px;
}
.header_right h3 {
  font-family: Space Mono;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: Regular;
}

.seller_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3B3B3B;
  border-radius: 20px;
  margin-top: 20px;
}

.nft_seller_img {
  display: flex;
  gap: 25px;
  align-items: center;
}
.nft_seller_img a {
  padding: 4px 9px;
  background-color: #2B2B2B;
  text-align: center;
  font-family: Space Mono;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: Regular;
  border-radius: 100px;
}
.nft_seller_img h2 {
  font-family: Work Sans;
  font-size: 22px;
  color: #FFFFFF;
  font-weight: SemiBold;
}

.nft_seller_contents {
  display: flex;
  gap: 100px;
  margin-right: 100px;
}
.nft_seller_contents a {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: Regular;
  color: #00AC4F;
}
.nft_seller_contents h2 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: Regular;
  color: #FFFFFF;
}
.nft_seller_contents p {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: Regular;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */